
/* header section */

nav.navbar {
  padding-bottom: 15px;
}
.header-logo {
  padding: 0 30px !important;
}
.navbar-right-section {
  justify-content: flex-end;
  padding-right: 30px;
}
.header-donate-button { 
  margin: 0 20px;
  cursor: pointer;
}


/* footer section */

footer {
  padding: 30px;
  min-height: 300px;

  color: ivory;
  background-color: #222;
}
footer a, footer a:link, footer a:hover, footer a:active, footer a:visited {
  color: ivory;
}

.cc-logo {
  width: auto;
  height: 22px;
  margin-right: 3px;
  margin-top: -2px;
}


/* default.html default template section */

.default-container {
}
.default-main {
  padding: 30px 0;
}



/* bootstrap overrides */
.form-group > label {
  margin-top: 16px;
  font-weight: bold;
  display: block !important;
}

/* organization page */
.org-banner {
  max-width: 100%;
}

/* ==========================================================================
   Tools
   ========================================================================== */
/* uncomment to see rogue divs pushing margins to the right */
/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/
