{% load static %}

<footer class="content-info" role="contentinfo">

  <div class="footer-wrapper">
    <div class="footer-container fluid-container">

      <div class="row">

        <div class="footer-column col-sm-4">
          <ul>

            <h6>
              <a href="/privacy/">Privacy Policy</a>
            </h6>

            <h6>
              <a href="/contact/">Contact</a>
            </h6>

            <h6>
              <a href="https://github.com/noisebridge/hackersinresidence/issues">Report an Issue</a>
            </h6>

          </ul>
        </div>
        <div class="footer-column col-sm-4">
        </div>
        <div class="footer-column col-sm-4">
          <div class="content">
            <h6 class="float-right clearfix"><img class="cc-logo" src="{% static "images/cc.svg" %}" \>Hackers In Residence</h6>
            <span class="clearfix"></span>
            <h6><a class="float-right clearfix" href="https://github.com/noisebridge/hackersinresidence">Contribute on Github</a></h6>
          </div>
        </div>

      </div>

    </div>
  </div>

</footer>
