{% load static %}

<footer class="content-info" role="contentinfo">

  <div class="footer-wrapper">
    <div class="footer-container fluid-container">

      <div class="row">

        <div class="footer-column col-sm-4">
          <ul>

            <h6>
              <a href="/privacy/">Privacy Policy</a>
            </h6>

            <h6>
              <a href="/terms/">Terms of Service</a>
            </h6>

            <h6>
              <a href="/contact/">Contact</a>
            </h6>

            <h6>
              <a href="/bugs/">Report an Issue</a>
            </h6>

          </ul>
        </div>
        <div class="footer-column col-sm-4">
        </div>
        <div class="footer-column col-sm-4">
          <div class="content">
            <p>
            <p>&copy Hackers In Residence</p>
          </div>
        </div>

      </div>

    </div>
  </div>

</footer>
