{% load static %}

<footer class="content-info" role="contentinfo">

  <div class="footer-wrapper">
    <div class="footer-container container">

      <div class="row">


        <div class="footer-column col-sm-4">
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Service</a>
          <a href="#">Contact</a>
          <a href="#">Report an Issue</a>
        </div>
        <div class="footer-column col-sm-4">
        </div>
        <div class="footer-column col-sm-4">
          <div class="content">
            <p>Hackers In Residence</p>
          </div>
        </div>

      </div>

    </div>
  </div>

</footer>
