{# default page #}
{% extends "base.html" %}

{# remember this does not carry from an 'extends' #}
{# for this reason this does nothing for its child templates #}
{# this template is never directly used so it doesn't use 'load staticfiles' #}
{# the future is mysterious, so I have left it #}
{% load staticfiles %}

{# pages using this default page SHOULD add their own title. #}
{% block title %}Contact{% endblock title %}

{% block main %}

<div class="container default-container">
  <div class="row">
    <div class="default-main offset-sm-1 col-sm-10">

      {% block defaultpage %}

      <h3>Contact</h3>

      <p>For information, please contact:  mitch AT CornfieldElectronics DOT com

      {% endblock defaultpage %}

    </div>
  </div>
</div>

{% endblock main %}
