{# Home Page #} 
{% extends "base.html" %} 
{% load static %} 

{% block title %}Home{% endblock title %} 

{% block inlinecss %}
<style type="text/css">
  .home-container {
    padding: 0 !important;
  }
  
  .home-fullwidth img {
    width: 100%;
    height: auto;
  }
  .home-banner-crop {
    max-height: 500px;
    overflow: hidden;
  }

  
</style>
{% endblock inlinecss %} 

{% block main %}
<div class="container-fluid home-container">

  <div class="row home-row">

    <div class="col-sm-12 home-fullwidth">
      
      <div class="home-banner-crop">
        <img class="home-banner" src="{% static "images/hir_collage.jpg" %}" \>
      </div>

      <div class="container default-container">
        <div class="row">
          <div class="default-main offset-sm-1 col-sm-10">

            {% block defaultpage %}

            <p>Do you have skills you would like to share with others?  Want to travel?  Want to learn from other communities?  <b>Become a Hacker in Residence!</b>
            <p>Can your organization benefit from a talented, creative person sharing their skills?  <b>Your organization needs a Hacker in Residence!</b></p>
            <p><em>This site is totally free to use.  Organizations can create residency opportunities for free.  Potential residents can browse opportunities for free.</em></p>


            {% endblock defaultpage %}

          </div>
        </div>
      </div>

    </div>
  </div>
  

</div>

{% endblock main %}
