{# Home Page #} 
{% extends "base.html" %} 
{% load staticfiles %} 

{% block title %}Home{% endblock title %} 

{% block inlinecss %}
<style type="text/css">
  .home-container {
    padding: 0 !important;
  }
  
  .home-fullwidth img {
    width: 100%;
    height: auto;
  }
  
</style>
{% endblock inlinecss %} 

{% block main %}
<div class="container-fluid home-container">

  <div class="row home-row">

    <div class="col-sm-12 home-fullwidth">
      <img src="/static/dist/images/image.jpg" \>

      <div id="welcomeOverlay">
        <h3 id="welcomeText">Welcome</h3>
        <a href="#" class="sharp" role="button">Button1</a>
        <a href="#" class="sharp" role="button">Button2</a>
      </div>

    </div>

  </div>
  
  <div class="col-sm-12 home-fullwidth">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

</div>

<!-- why was this extra div here with container marked on it? does it belong in the footer or is it extra?
</div>
-->
<!-- /container -->

{% endblock main %}
