{# from: default content page #}
{# great for styling a simple section of content #}
{% extends "default-content.html" %}
{% load staticfiles %}

{% block inlinecss %}
<style type="text/css">
  .view-opportunity-header {
    padding: 0 0 10px 0;
    text-align: center;
  }
  .view-opportunity {
    padding: 0 0 30px 0;
    text-align: center;
  }
  .view-opportunity h5 {
    text-decoration: underline;  
  }
  .view-opportunity-header h5 {
    text-decoration: underline;  
  }
  .first-content {
    padding: 30px 0;
  }
  .second-content {
    padding: 30px 0;
  }
  .header-link {
    color: black !important;
  }
</style>
{% endblock inlinecss %} 

{% block title %}Opportunities{% endblock title %}

{# this exists within the bootstrap grid as "offset-sm-2 col-sm-8" #}
{% block defaultpage %}

  <div class="row first-content">
    <div class="col-sm-12">
      <p>Apply by clicking into the opportunity page and contacting the organization.
    </div>
  </div>

  <div class="row view-opportunity-header">
    <div class="col-sm-3 text-left">
      <a class="header-link" href="/opportunities/by_title/"><h5>Opportunity</h5></a>
    </div>
    <div class="col-sm-3 text-left">
      <a class="header-link" href="/opportunities/by_org"><h5>Organization</h5></a>
    </div>
    <div class="col-sm-2 text-left">
      <a class="header-link" href="/opportunities/by_location"><h5>Location</h5></a>
    </div>
    <div class="col-sm-2 text-left">
      <a class="header-link" href="/opportunities/by_expiration"><h5>Expiration</h5></a>
    </div>
    <div class="col-sm-1 text-left">
      <a class="header-link" href="/opportunities/by_description/"><h5>Delete?</h5></a>
    </div>
  </div>
  {% for opportunity in opportunity_display_list %}
  <div class="row view-opportunity">
    <div class="col-sm-3 text-left">
      <a href="{{ opportunity.link }}">{{ opportunity.title }}</a>
    </div>
    <div class="col-sm-3 text-left">
      {{ opportunity.org_title }}
    </div>
    <div class="col-sm-2 text-left">
      {{ opportunity.org_location }}
    </div>
    <div class="col-sm-2 text-left">
      {{ opportunity.expiration }}
    </div>
    <div class="col-sm-1 text-left">
      {% if request.user.id == opportunity.org_user_owner_id %}
        <a href='/opportunity/delete/{{ opportunity.id }}'>delete</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}


{% endblock defaultpage %}
