{# default page #}
{% extends "default-content.html" %}

{# remember this does not carry from an 'extends' #}
{# for this reason this does nothing for its child templates #}
{# this template is never directly used so it doesn't use 'load staticfiles' #}
{# the future is mysterious, so I have left it #}
{% load staticfiles %}

{# pages using this default page SHOULD add their own title. #}
{% block title %}Privacy Policy{% endblock title %}

  {% block defaultpage %}

  <h3>Privacy Policy</h3>

  <p>Organizations can create pages on this website for describing themselves and pages for Residency Opportunities.  Any information organizations give will only be used on the pages they create on this website, and for confirming the content they store for this website.

  {% endblock defaultpage %}
