{# from: default content page #}
{# great for styling a simple section of content #}
{% extends "default-content.html" %}
{% load staticfiles %}

{% block title %}Hackers in Residence{% endblock title %}

{# this exists within the bootstrap grid as "offset-sm-2 col-sm-8" #}
{% block defaultpage %}

  <p>Update your organization:

    <form action="" method="post" enctype="multipart/form-data">
      <div class="form-group">
        {% csrf_token %}
        {{ form }}
      </div>
      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Submit" />
      </div>
    </form>


{% endblock defaultpage %}
