{# from: default content page #}
{# great for styling a simple section of content #}
{% extends "default-content.html" %}
{% load staticfiles %}

{% block title %}{{ organization.title }}{% endblock title %}

{% block inlinecss %}
<style type="text/css">
  button {
    cursor: pointer;
  }
  .org-top-container {
    padding-top: 30px;
    min-height: 200px;
  }
</style>
{% endblock inlinecss %} 

{# this exists within the bootstrap grid as "offset-sm-2 col-sm-8" #}
{% block defaultpage %}

  {# no security concern, button link only allows user to mod their org anyways #}
  {% if user.is_authenticated %}
    {# only show on user's org page #}
    {% if user_owner.id == request.user.id %}
      <div class="row edit-org-bar">
        <div class="col-sm-12">
          <a href="/update_org/"><button class="btn btn-info">update organization</button></a>
        </div>
      </div>
    {% endif %}
  {% endif %}


  <div class="row org-top-container">
    <div class="col-sm-5">
      <h3>{{ organization.title }}</h3>
      <h5>{{ organization.location_city }}, {{ organization.location_country }}</h5>
    </div>
    <div class="col-sm-7">
      <img src="/media/{{ organization.organization_banner }}">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{ organization.long_description | linebreaks }}
    </div>
  </div>

{% endblock defaultpage %}
