{# from: default content page #}
{# great for styling a simple section of content #}
{% extends "default-content.html" %}
{% load staticfiles %}

{% block inlinecss %}
<style type="text/css">
  .view-opportunity-header {
    padding: 0 0 10px 0;
    text-align: center;
  }
  .view-opportunity {
    padding: 0 0 30px 0;
    text-align: center;
  }
  .view-opportunity h5 {
    text-decoration: underline;  
  }
  .view-opportunity-header h5 {
    text-decoration: underline;  
  }
  .first-content {
    padding: 30px 0;
  }
  .second-content {
    padding: 30px 0;
  }
</style>
{% endblock inlinecss %} 

{% block title %}{{ opportunity.title }}{% endblock title %}

{# this exists within the bootstrap grid as "offset-sm-2 col-sm-8" #}
{% block defaultpage %}

  <div class="row first-content">
    <div class="col-sm-12">
      <h5>{{ opportunity.title }}</h5>
      <p>{{ opportunity.description | linebreaks }}
      <p>Organized by: {{ organization.title }}
      <p>Organization location: {{ organization.location_city }}, {{ organization.location_country }}
      <p>Expires: {{ opportunity.expiration_date }}
    </div>
  </div>

{% endblock defaultpage %}
