{# from: default content page #}
{# great for styling a simple section of content #}
{% extends "default.html" %}
{% load staticfiles %}

{% block title %}login{% endblock title %}

{% load account_tags %}
{% load i18n %}

{# this exists within the bootstrap grid as "offset-sm-2 col-sm-8" #}
{% block defaultpage %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="">
                <legend>{% trans "Change password" %}</legend>
                <fieldset>
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
