{# from: default content page #}
{# great for styling a simple section of content #}
{% extends "default.html" %}
{% load staticfiles %}

{% block title %}login{% endblock title %}

{% load account_tags %}
{% load i18n %}

{# this exists within the bootstrap grid as "offset-sm-2 col-sm-8" #}
{% block defaultpage %}
    <h1>{% trans "This site is in private beta" %}</h1>
    <p>{% blocktrans %}If you have signup code you can enter it below.{% endblocktrans %}</p>
    <form method="get" action="">
        <div><input type="text" name="code" placeholder="{% trans 'Your signup code...' %}" /></div>
        <div><input type="submit" class="btn btn-primary"></div>
    </form>
{% endblock %}
